
builds/2.0.0/AutoCharts2.0.0_Installer.exe
**.log
**.csv
**.xlsx
AutoCharts.log
**.csv
settings.ini
BackUp/
assets/installers/
assets/ChartBuilder/public/Data/Backups/.checkfile
assets/ChartBuilder/public/Data/Backups/Catalyst/CFH/Morningstar 2020-06-30 Rating.png
assets/ChartBuilder/public/Data/Backups/Catalyst/CFR/Morningstar.PNG
assets/ChartBuilder/public/Data/Backups/Catalyst/CLT/CLT Morningstar Q2.png
assets/ChartBuilder/public/Data/Backups/Rational/RFX/Thumbs.db
